@import "var";

.container {
  background: #ffffff;
  padding: 24px 24px;
  line-height: 1.55;
}

.chart{
  background: white;
  padding: 16px 0;
  margin: 15px 0;
}

.marginContent {
  margin-bottom: 80px;
}

.card {
  padding: 0 15px
}
