@charset "utf-8";

@import "var";

a .active {
  background-color: $font__blue !important;
}

.weui-grid__label {
  font-weight: 800;
  color: $font__black;
  line-height: 3;
}

.vux-flexbox {
  background: $font__white;
}

.weui-grids:before, .weui-grid:after {
  border: none !important;
}

.weui-btn_primary, .weui-btn_primary:hover {
  background: $font__blue;
  border: none;
}

.vux-slider {
  margin: 16px 0;
}

.weui-search-bar__cancel-btn{
  color: $font__blue !important;
}
.vux-search_show,.weui-cells{
  background: white!important
}

body{
  background: red!important;
  color: red!important;
}
